*{
    margin: 0;
    padding: 0;
}

.preloader{
    background-image: url("../image/bk/thumb-1920-1184952.jpg");
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: cover;
    background-position: center;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("../image/bk/desert-landscape-with-cactuses-and-mountains-on-skyline-vector.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}

.girl{
    width: 200px;
    top: 700px;
    left: 100px;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#gameIntru{
    position: absolute;
    top: 100px;
    left: 100px;
    margin: auto;
}

#gameIntru h1{
    color: white;
    font-size: 70px;
}
#gameIntru h2{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-size: 50px;
}
#gameIntru h3{
    margin-left: 80px;
    color: white;
    font-size: 30px;
}
#start h1{
    margin-left: 90px;
    margin-top: 50px;
    color: #660a0a;
    font-size: 80px;
    cursor: pointer;
}
#start h1:hover{
    transform: scale(1.2);
    transition: .5s;
}

span{
    color: #f9004d;
}


@media screen and (max-width: 1440px){
    .girl{
        width: 150px;
        top: 300px;
    }
}

@media screen and (max-width: 1024px){
    .girl{
        width: 150px;
        top: 300px;
    }
}
