*{
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("../image/bk/desert-landscape-with-cactuses-and-mountains-on-skyline-vector.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}

.boy{
    width: 200px;
    top: 700px;
    left: 100px;
    bottom: 0;
    margin: auto;
    position: absolute;
}

#gameIntru{
    position: absolute;
    top: 100px;
    left: 100px;
    margin: auto;
}

#gameIntru h1{
    color: white;
    font-size: 50px;
}

span{
    color: #f9004d;
}


@media screen and (max-width: 1440px){
    .boy{
        width: 150px;
        top: 300px;
    }
}

@media screen and (max-width: 1024px){
    .boy{
        width: 150px;
        top: 300px;
    }
}
